@model Backend_Android_2024.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiSP.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MauSac.TenMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MauSac.TenMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThuongHieu.TenThuongHieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuongHieu.TenThuongHieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai.TenTrangThaI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai.TenTrangThaI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
